h1{
	color: 000000;
	border: 2px solid #17202A;
}

table {
	border-collapse: collapse;
	
}
table th{
	text-align: center;
	background-color: 2F4F4F;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table td{
	border: 1px solid #17202A;
    padding: 4px 8px; 
	
}

table tr:nth-child(odd) td {
	background-color: #BFC9CA;
	
}